@using PagedList.Mvc;
@using PagedList;
@model IPagedList<Lexicon_LMS.Models.Activity>

@{
    ViewBag.Title = "Schedule";
}
<h2>@ViewBag.Title</h2>
<table class="table table-bordered table-hover">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.First().ActivityType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Module.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Deadline)
        </th>
        <th> </th>
    </tr>

    @foreach (var item in Model)
    {
        if (true@*DateTime.Now.CompareTo(item.Deadline) < 0*@)
        {
            //string style = item.StartDate== DateTime.Now ? "background-color:Red" : null;
            <tr style="@(item.StartDate.Date==DateTime.Now.Date ? "Background-color:#AB8DB8" : "")">
            <td>
                @Html.DisplayFor(modelItem => item.ActivityType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Module.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                    @Html.ActionLink("Details", "Details", new {id = item.ActivityId})
            </td>
        </tr>
    }
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new {page}),new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })
