@*@model Lexicon_LMS.Models.Module*@
@model IEnumerable<Lexicon_LMS.Models.Document>

@{
    ViewBag.Title = "Details";
    //ViewBag.ModId = ViewBag.ModId;
}

<h2>Module Documents</h2>
<table class="table table-bordered table-hover">
   
    <tr class="success">
        <th>@Html.DisplayNameFor(modelItem => modelItem.FileName)</th>
        <th>@Html.DisplayNameFor(modelItem => modelItem.Description)</th>
        <th>@Html.DisplayNameFor(modelItem => modelItem.Created)</th>
        

    </tr>
   
        @foreach (var item in Model)
        {
            <tr>
              
                <td>
                   @Html.DisplayFor(modelItem=>item.FileName)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
            </tr>
        }
</table>

@*<div>
    <h4>Activities</h4>
    <hr />
    <dl class="dl-horizontal">
       


        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
               
        <dt>
            Activities:
        </dt>
      
        <dd>
            @foreach (var activities in Model.Activities)
            {
                @activities.Name<br />
            }
        </dd>
    </dl>
</div>*@
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ModuleId }) |*@
  @*  @Html.ActionLink("Back to List", "Index","Modules",new { id=ViewBag.ModId},null)*@
    @Html.ActionLink("Back to List", "Index", "Modules",new{id= ViewBag.ModId },null)
</p>
